body {
    background-color: #1c1e21;
    font-family: 'Baloo Bhai', cursive;
}

div {
    background-color: white;
}

#profileImg {
    margin: 10px;
    margin-top: 40px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #1c1e21;
}

h1 {
    font-size: 35px;
    margin-bottom: 10px;
    padding-top: 18px;
    margin-left: 15px;
    margin-top: 15px;
    color: #1F1603;
}

#contentBox #innerBox {
    position: relative;
    width: 90%;
    height: auto;
    top: 10px;
    margin-left: 100px;
    background-image: url(contentBack.png);
    background-color: #FFFFFF;
    background-repeat: repeat-x;
}

#name {
    margin-left: 210px;
    margin-top: -200px;
    font-size: 50px;
    /* display: block; */
}

#info {
    margin-left: 210px;
    font-size: 18px;
    margin-top: -20px;
    color: gray;
    /* display: block; */
}

#image1 {
    left: 20%;
    margin-top: 10px;
    width: 150px;
    height: 150px;
}

#act1:hover #image1 {
    transform: scale(1.5) translateX(-150px) translateY(35px);
    transition: ease-in-out 0.4s;
}

#act1:hover #container {
    background-color: transparent;
    transition: ease 0.3s;
    transform: scale(1.5) translateX(150px) translateY(-55px);
}

#card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-top: 60px;
    /* position: absolute; */
    text-align: center;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#leftCard {
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-top: 60px;
    /* position: absolute; */
    text-align: left;
    width: 30%;
    /* height: 300px; */
    display: block;
    margin-left: 10%;
    margin-right: auto;
}

#rightCard {
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-top: 60px;
    /* position: absolute; */
    text-align: left;
    width: 30%;
    /* height: 300px; */
    display: block;
    margin-left: 60%;
    margin-right: auto;
}

#bottomCard {
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-top: 450px;
    /* position: absolute; */
    text-align: left;
    width: 80%;
    height: 300px;
    display: block;
    margin-left: 10%;
    margin-right: auto;
}

#card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#container {
    padding: 2px 16px;
}

#leftCard {
    position: absolute;
}

#rightCard {
    position: absolute;
}

#prev {
    position: absolute;
    width: 100px;
    height: 100px;
    background: white;
    border: unset;
    border-radius: 50%;
    cursor: pointer;
    font-size: 50px;
    color: black;
    margin: 10px 0% 0px 0%;
    padding: 0px 10px;
    top: 380px;
    left: 2%;
    z-index: 0;
}

#prev:hover {
    color: black;
    background-color: darkslategrey;
}

#next:hover {
    color: black;
    background-color: darkslategrey;
}

#next {
    position: absolute;
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    font-size: 50px;
    color: black;
    border: unset;
    margin: 10px 0px 0px 0;
    padding: 0px 10px;
    top: 380px;
    right: 2%;
    z-index: 0;
}

#icon {
    position: relative;
    height: 30px;
    width: 30px;
    top: 25px;
    left: 5px;
}

#header {
    margin-top: -45px;
    margin-left: 50px;
}

#preImg {
    width: 100px;
    height: 100px;
}

tr,
#preTab {
    margin-left: 10%;
    text-align: center;
    /* border: 1px solid black; */
}

td {
    width: 20px;
}

#footer {
    position: relative;
    height: 200px;
    width: 100%;
    bottom: 0;
    background-color: #1c1e21;
}

#footer img {
    left: 10%;
    top: 25px;
    width: 400px;
    height: 150px;
    position: absolute;
    -webkit-filter: drop-shadow(1px 1px 0 white);
    filter: drop-shadow(1px 1px 0 white);
}

#footer a {
    position: absolute;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

#fa-facebook {
    top: 80px;
    left: 45%;
    background: #3B5998;
    color: white;
}

#fa-instagram {
    top: 80px;
    left: 55%;
    background: #125688;
    color: white;
}

#footer p {
    text-align: right;
    position: absolute;
    color: white;
    right: 10%;
    bottom: 10%;
    font-size: 15px;
    font-weight: lighter;
}